@use './styles/button.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}

html , 
body ,
#root{
    width: 100%;
    height: 100%;
    font-family: 'System-UI', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color:  #000000ba;
    color: #fff;
}

.highlight {
    color: #ff2a5c;
}